.form{
    width: 52%;
    background-color: rgb(255, 255, 255);
}

.app-image-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px)
{
    .form{
        width: 100%;
    }
}