.formulario{
  text-align: center;
  position: relative;
  top: 80px;
  width: 100%;
}

.btn{
  background-image: linear-gradient(to right, #3e47f8 , #8D44F2);
    color: #ffffff;
    cursor: pointer;
}

.tidulo-login{
    color: #8D44F2;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

input{
  border-radius: 10px;
  padding: 25px;
}

button{
  border-radius: 10px;
  padding: 10px;
}